html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tela {
  display: none;
  text-align: center;
  height: 100vh; 
  width: 100vw;  
  position: relative;
}
.ativa {
  display: block;
}
.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.game{
    background: url('imagens/espaco.jpg') no-repeat center center;
    background-size: cover;
}
#jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#nuvens-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 420px;
  height: 420px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.nuvem {
  position: absolute;
  width: 80px;
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.7s;
}
#planeta {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px; 
  height: 300px; 
  max-width: none;
  transform: translate(-50%, -50%);
  z-index: 0;
  margin: 0;
  pointer-events: auto;
}
.letra{
  margin-bottom: 13px;
  margin-left: -10px;
}
#contador-carbono {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 220px;
  height: 120px;
  background: url('imagens/contagem.png') no-repeat center center;
  background-size: contain; /* ou cover, teste os dois */

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 1px 1px 3px #000;
}

#contador-carbono span {
  text-align: center;
}
.popup-conteudo {
  background: white;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}
.tela h2,
.tela button {
  margin: 0;
  padding: 0;
}
.popup-conteudo {
  background: white;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}